@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,500,700&subset=cyrillic');


ul,li {
	display: block;
}
* {
	padding: 0;
	margin: 0;
}


/*Heder*/

.logo_item {
	padding: 30px 0px;
} 
.menu-heder ul li a{
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
	color: #79818d;
}
.menu-heder ul {
	margin-bottom: 0px;
}
.menu-heder ul li {
	margin-left: 35px;
}
.offer {
	background: url(../img/header-bg.jpg) no-repeat center top;
	-webkit-background-size: cover;
		background-size: cover;	
}
.title h1{
	font-size: 52px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	margin-top: 230px;
}
.title-monitor {
	font-size: 20px;
	color: #fff;
	margin-top: 32px;
	margin-bottom: 55px;
}
.title__smoll p {
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500; 
	margin: 0;
	color: #fff;
}
.title__smoll strong {
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
	color: #fff;
	margin-left: 10px;
	padding: 0px 5px;
	background: #ffce54;
	border-radius: 3px; 
}
.title input {
	width: 425px;
	height: 55px;
	padding-left: 25px;
	margin-top: 30px;
	border-radius: 4px;
	border: none;
}
.title button {
	width: 115px;
	height: 55px;
	border: none;
	border-radius: 4px;
	background: #77c344;
	font-size: 18px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	color: #fff;
	margin-left: 10px
}
.title {
	margin-bottom: 255px;
}
.offer-hend img {
	margin-top: 130px;

}
.logotips-item img {
	/*margin-left: 70px;*/
	padding: 50px 0px;
}
.logotips-item ul {
	margin-bottom: 0px;
}
#logotips {
	background: #f8f8f8;
}


/*секция Map*/
.map__title h2 {
	font-size: 40px;
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
	color: #4c5767;
	text-align: center;
	padding:120px 0px;
}
.map__item_text p {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: #9499a2;
	margin-top: 10px;
}
.map__item_ikon strong {
	color: #424c5e;
	font-size: 22px;
	font-weight: 500;
	margin-left: 20px;
}


/*section slider*/
#slider {
	background: #f6f6f7;
	padding-bottom: 120px;
}
.slid_title h2 {
	padding-top: 165px;
	margin-left: 280px;
	margin-bottom: 140px;
	font-size: 40px;
	font-family: 'Ubuntu', sans-serif;
	color: #414c5d;
}
.ikon {
	display: flex;
}
.slider_items p {
	width: 750px;
}
.ikon_title h3 {
	font-size: 28px;
	font-family: 'Ubuntu', sans-serif;
	margin-left: 30px;
	color: #414c5d;
}
.slider_items {
	outline: none !important;
}
.slick-dots li button::before {
	content: '';
	background: #64a4d7!important;
	font-size: 17px !important;
	/*opacity: .25 !important;*/
	border-radius: 50px !important;
}
.slider_items {
	width: 800px;
	padding-left: 20px;
	/*margin-bottom: 40px;*/
}
.slick-slider {
    padding-left: 50px;
}
.slick-dots li {
	border:1px solid #a09f9f;
	/*background: #77c344!important;*/
	border-radius: 50px !important;
}
.slick-dots li button::before {
	width: 18px !important;
	height: 18px !important;
}



/*sectiom form*/
#form {
	color: #414c5d;
	padding-bottom: 105px;
}
.form_items h2 {
	font-size: 40px;
	font-family: 'Ubuntu', sans-serif;
	margin-top: 140px;
}
.form_items p {
	font-style: italic;
	font-size: 24px;
	font-weight: 100;
	margin-top: 50px;
}
.form_items {
	text-align: center;
	
}
.form_input input {
	width: 630px;
	height: 68px;
	border:1px solid silver;
	background: url(../img/latter.png) no-repeat 10px center;
	padding-left: 60px;
	font-size: 22px;
	font-family: 'Open Sans', sans-serif;
	color: #ababab;
}
.form_input button {
	width: 190px;
	height: 68px;
	background: #77c344;
	color: #fff;
	border:none;
	border-radius: 2px;
	margin-left: 10px;
}
.form_input button:hover {
	background: #fff;
	color: #77c344;
	border:1px solid silver;
	cursor: pointer;
}
.form_input {
	margin-top: 65px;
	display: flex;
	justify-content: center;
}


/*Footer*/
#footer {
	background: #f9f9f9;
	padding: 55px 0px;
}
#footer ul {
	margin-bottom: 0px !important;
}

.footer_menu  ul li a{
	font-size: 14px;
	text-decoration: none;
}
.footer_menu  ul {
	display: flex;
}
.footer_menu  ul li {
	margin-left: 25px
}
.social ul {
	display: flex;
}
.social ul li {
	margin-left: 25px;
}
.social {
	border-left: 2px solid silver;
}
.title button {
	cursor: pointer;
}



/*медиа запросы*/

@media screen and (max-width: 1200px) {
    .menu-heder ul li {
    margin-left: 20px;
    }
    .offer-hend img {
    margin-top: 198px;
    margin-left: -50px;
	}
	.title button {
		margin: 0 auto;
		margin-top: 10px;
	}
	.map__book img {
		margin-left: -110px;
	}
	.map__item_text p {
		width: 400px;
	}
	.footer_menu ul li {
    margin-left: 10px;
	}
	.title h1 {
    margin-top: 100px;
	}
	.offer-hend img {
    margin-top: 68px;
	}
	.map__title h2 {
    padding: 55px 0px;
	}
	.slid_title h2 {
    padding-top: 70px;
    margin-bottom: 75px;
	}
	.slider_items p {
    width: 610px;
	}
	#slider {
    padding-bottom: 60px;
	}
	.form_items h2 {
    margin-top: 70px;
	}
	#form {
    padding-bottom: 75px;
	}
}
@media screen and (max-width: 992px) {
    .offer-hend img {
    margin-top: -175px;
	}
	.title {
    text-align: center;
	}
	.title__smoll {
		justify-content: center;
	}
	.offer-hend img {
    margin: 0 auto;
	}
    .logotips-item ul {
    	flex-direction: column;
		align-items: center;
    }
    .logotips-item img {
    padding: 10px 0px;
	}
	.map__item {
		text-align: center;
	}
	.map__item_text p {
		text-align: center;
		width: 100%;
	}
	.map__book {
		display: none;
	}
	.slid_title h2 {
    margin-left:0px;
    text-align: center;
	}
	.slider_items p {
    width: 430px;
    text-align: center;
	}
	.slick-slider {
    padding-left: 0px;
	}
	.title {
    margin-bottom: 65px;
	}
}
@media screen and (max-width: 768px) {

   .logo_item {
   	display: flex;
   	justify-content: center;
   }
   .menu-heder {
   	margin: 0 auto;
   	padding-bottom: 20px;
   }
   .slid_title h2 {
    font-size: 36px;
	}
	.slider_items {
    width: 100%;
    padding-left: 20px;
	}
	.slider_items p {
    width: 340px;
	}
	.footer-logo {
		display: flex;
		justify-content: center;
	}
	.footer-logo {
    margin: 0 auto;
	}
	.footer_menu {
		margin: 0 auto;
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.social {
    border:none;
    display: flex;
    justify-content: center;
	}
}

@media screen and (max-width: 576px) {
	.slider_items p {
    width: 300px;
	}
	.form_input {
    display: flex;
    flex-direction: column;
	}
	.form_input input {
    width: 100%;
	}
	.form_input button {
    margin: 0 auto;
    margin-top: 20px;
	}
	.menu-heder ul li {
    margin-left: 6px;
	}
	.slider_items p {
    width: 247px;
	}
	.footer_menu ul {
    flex-direction: column;
    align-items: center;
	}
	.title input {
    width: 100%;
	}
	.offer-hend {
		display: none;
	}

}
@media screen and (max-width: 320px) {
   
}

@media screen and (max-width: 385px){
 	.menu-heder ul {
    flex-direction: column;
	}
	.menu-heder ul li {
		margin-top: 10px;
	}
	.title h1 {
    font-size: 45px;
	}
	.title input {
    width: 100%;
	}
	.ikon {
    display: flex;
    flex-direction: column;
	}
	.ikon_cloud {
		display: flex;
		justify-content: center;
	}
	.slider_items p {
    width: 187px;
	}
	.footer_menu ul li {
    margin-left: 4px;
	}
} 